.dokme-btn{
    display: inline-block;
    padding: 5px;
    background: #469A46;
    color: #fff;
    border: solid 1px #707070;
    text-decoration: none;
    text-align: center;
    min-width: 80px;
    border-radius: 50px;
    font-weight: 400;
    font-size: 12px;
}
#dokme-api-token{
    width: 100%;
}

/*
 * Tree
 */
.dokme-tree ul {
    list-style: none;
    display: none;
    margin-bottom: 15px;
}
.dokme-tree > ul {
    padding-right: 5px;
    display: block;
}
.dokme-tree ul li i {
    font-size: 14px;
    margin: 0 4px;
    cursor: pointer;
}
.dokme-tree li > i:before {
    content: '+';
}
.dokme-tree li.open > i:before {
    content: '-';
}
.dokme-tree li.open > ul {
    display: block;
    padding-right: 15px;
}
/*
 * ProgressBar
 */
.dokme-progress-bar {
    background-color: #ccc;
    height: 15px;
    padding: 1px;
    width: 100%;
    margin: 2px 0;

}
.dokme-progress-bar span {
    display: inline-block;
    float: right;
    height: 100%;
}
.blue span {
    background-color: #34c2e3;
}

